* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
  display: flex;     
  justify-content: center; /*<!--- centralizar os itens ---> */
  align-items: center;   /*<!--- centralizar os itens ---> */
  flex-direction: column; /*<!--- colocar vertical ---> */
  gap: 40px;     /*<!--- afastar as caixas  ---> */
  
}

.item {
  border: 1px solid black;
  background-color: white;
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}